/* Paginator.css */
.paginator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.paginator {
  display: flex;
  margin-bottom: 10px;
}

.page-button {
  cursor: pointer;
  border: none; /* 邊框樣式設置不可見 */
  background: none; /* 移除背景色 */
  font-size: 10px;
}

/* Paginator.css */
.page-numbers span {
  display: inline-block;
  margin: 0 5px; /* 左右增加距離 */
}

.page-number {
  display: inline-block;
  color: black;
  border-radius: 50%;
  padding: 5px;
  text-align: center; /* 水平置中 */
  line-height: 25px; /* 調整行高來垂直置中 */
  width: 25px; /* 調整為正方形size */
  height: 25px; /* 調整為正方形size */
}

.page-number:hover {
  background-color: #ddd;
}
