body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pagination li:hover {
  text-decoration:none;
  background-color: rgb(221, 216, 216);
  color:gray;
  border-radius: 50%;
}

.pagination li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  width: 28px;
  height: 28px;
}

.pagination li a:link, .pagination li a:visited {
  text-decoration:none;
}

.pagination li:active {
  text-decoration:none;
  background-color:rgb(87, 66, 66);
  color:#fafafa;
  border-radius: 50%;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 3px;
  cursor: pointer;
}

.pagination .non-clickable:hover,
.pagination .non-clickable:active {
  background-color: initial;
  color: initial;
  cursor: default;
}

.current-page {
  background-color: yellow;
  border-radius: 50%;
}