* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.15;
  background-color: rgb(25, 25, 25);
  color: white;
  text-decoration: none;
  input, button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
  }
  input {
    -webkit-appearance: none; /* 移除 Safari 瀏覽器的預設樣式 */
    -moz-appearance: none; /* 移除 Firefox 瀏覽器的預設樣式 */
    appearance: none; /* 移除現代瀏覽器的預設樣式 */
  }
}

::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  .NavHeader {
    display: flex;
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    .NavHeaderAll {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      nav.NavHeader_Left {
        display: flex;
        padding-top: 14px;
        div.NavHeader_Tab {
        display: flex;
        margin-left: 20px;
          a {
            display: flex;
            align-items: center;
          }
          div {
            display: flex;
            justify-content: center;
            font-size: 22px;        
            padding: 0 12px 13px;
            margin-right: 4px;
          }
          .Header_Shorts_Badge_Free {
            position: absolute;
            top: 10px;
            left: 333px;
            transform: rotate(10deg);
          }
        }
      }
      nav.NavHeader_Right {
        display: flex;
        justify-content: flex-end;
        padding-top: 12px;
        & > *:not(:first-child) {
          margin-left: 8px;
          width: 40px;
          height: 40px;
          padding-top: 6px;
          display: flex;
          justify-content: center;
        }
        div label {
          display: flex;
          border-radius: 20px;
          width: 260px;
          height: 40px;
          background-color: rgb(71, 71, 71);
          div.Search_Image {
            background-color: rgb(71, 71, 71);
            padding-left: 17px;
            padding-top: 10px;
            border-radius: 20px;
          }
          img {
            background-color: rgb(71, 71, 71);
          }
          .SearchInput {
            padding-left: 4px;
            font-size: 16px;
            border: none;
            outline: none;
            background-color: rgb(71, 71, 71);
          }
          .SearchInput::placeholder {
            color: white;
          }
        }
        .NavHeader_Login {
          width: 58px;
          height: 32px;
          margin-top: 4px;
          font-size: 16px;
          border: 1px solid rgb(71, 71, 71);
          border-radius: 4px;
          padding-right: 12px;
          padding-left: 12px;
        }        
        .NavHeader_Sigup {
          width: 88px;
          height: 32px;
          margin-top: 4px;
          font-size: 16px;
          background-color: rgb(0, 210, 190);
          color: black;
          border: 1px;
          border-radius: 4px;
          padding: 7px 12px 0;
        }
      }
    }
  }
  .chatList-Container {
    display: flex;
    margin-top: 64px;
    height: 100%;
    border-top: 1px solid rgba(100, 100, 100, 0.15);
    .ChatList {
      height: 100%;
      min-height: 100vh;
      min-width: 360px;
      width: 360px;
      .ChatHeader {
        margin-top: 12px;
        .ChatHeaderTitle {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-left: 16px;
          margin-right: 16px;
          margin-bottom: 12px;
          .ChatHeaderTitleContent {
            font-size: 22px;
            font-weight: 600;
          }
          .ChatHeaderTitleRight {
            .ChatHeaderBuyDiamond {
              margin-left: 8px;
            }
          }
        }
        .ChatHeaderTab {
          display: flex;
          height: 40px;
          align-items: center;
          justify-content: space-around;
          border-bottom: 1px solid rgba(100, 100, 100, 0.15);
          .TabAll, .TabUnread, .TabPin {
            font-size: 16px;
            font-weight: 400;
            line-height: 1;
            margin: 0 16px;
            padding: 10px 2px;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .UserCategory {
        display: flex;
        flex-direction: row;
        margin-left: 16px;
        padding-top: 18px;
        padding-bottom: 16px;
        overflow-y: auto;
        .UserCategoryCreator {
          padding-top: 6px;
          width: 76px;
          .CategoryCreatorAvatar {
            border-radius: 50%;
          }
          .CategoryCreatorDisplayName {
          margin-top: 6px;
          font-size: 12px;
          font-weight: 600;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          }
          .CategoryCreatorName {      
            font-size: 12px;        
            font-weight: 400;
            line-height: 1.5;
            color: rgba(221,221,221,0.8);
            margin-top: 2px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        .UserCategoryCreator:not(:last-child) {
          margin-right: 12px;
        }
      }
      .ChatListContent {
        margin-top: 6px;
        .ChatListItem {
          display: flex;
          height: 68px;
          margin: 0 5px;
          padding: 0 16px;
          img.ChatListAvatar {
            margin-top: 10px;
            border-radius: 50%;
          }
          .ChatListDetail {
            font-size: 16px;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 100%;
            height: 100%;
            margin-left: 12px;
            margin-top: 12px;
            .ChatListAllName {
              display: flex;
              flex-direction: row;
              .ChatListDisplayName {
                padding-left: 2px;
                color: rgba(221,221,221,0.8);
                font-weight: 400;
              }
            }
            .ChatListContent {
              font-size: 12px;
              font-weight: 400;
              color: rgb(100, 100, 100);
              margin-top: 12px;
            }
          }
        }
      }
    }
    /* 開始聊天 */
    .ChatDefault {
      width: 100%;
      height: 100%;
      min-height: 100vh;
      padding-top: 40px;
      border-left: 1px solid rgba(100, 100, 100, 0.15);
      .ChatDefaulAll {
        padding-top: 240px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .ChatDefaultTitle {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 12px;
        
      }
      .ChatDefaultContent {
        font-size: 16px;
        color: rgb(100, 100, 100);
        margin-bottom: 20px;
      }
      .NewChatBtn {
        font-size: 16px;
        font-weight: 600;
        padding: 9px 29px 10px;
        border-radius: 4px;
        border: 1px solid white;
        line-height: 1;
      }
    }
  }
}

@media (min-width: 769px) {
  body .Mobile-NavHeader {
    display: none;
  }
}

@media (max-width: 768px) {
  body {
    .NavHeader, .Mobile-NavHeader {
      display: none;
    }
    .Mobile-NavHeader {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
      ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        padding-bottom: 3px;
        li {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          div {
            margin-top: 2px;
            font-size: 12px;
          }
        }
        li:nth-child(3) {
          .Mobile-NavHeader-Tab-Short {
            position: relative;
            .Header_Shorts_Badge_Free {
              position: absolute;
              top: -5px;
              left: 5px;
              transform: rotate(10deg);
            }
          }
        }

        li:last-child {
          .Mobile-NavHeader-Tab-Me {
            position: relative;
            .Mobile-NavHeader-Hamburger {
              position: absolute;
              bottom: 0px;
              right: 0px;
            }
          }
          img {
            border-radius: 50%;
          }
        }
        
      }
      
    }
    .chatList-Container {
      margin-top: 0;
      .ChatList, .ChatDefault {
        display: none;
      }
      .chatroomContainer {
        width: 100%;
        height: 100%;
        .chatHeader {
          display: flex;
          padding: 0 16px;
          height: 63px;
          align-items: center;
          justify-content: space-between;
          .ChatHeader-left {
            display: flex;
            align-items: center;
            .ChatHeader-BackButton {
              margin-right: 14px;
              border: none;
              cursor: pointer;
              font: inherit;
            }
            .ChatHeader-Title {
              font-size: 20px;
              font-weight: 600;
            }
          }
          .ChatHeader-Right {
            img:not(first-child) {
              margin-left: 7.5px;
            }
          }
        }
        .ChatHeader__ChatAnnounceBanner h2 {
          background-color: rgb(30, 30, 30);
          color: rgb(200, 200, 200);
          padding: 4px 16px;
          font-size: 12px;
          line-height: 1.4;
          border-top: 1px solid rgba(100, 100, 100, 0.15);
          border-bottom: 1px solid rgba(100, 100, 100, 0.15);
        }
        .chat-messages {
          .Creator-Content {
            margin: 36px 0 20px 0;
            display: grid;
            place-content: center;
            place-items: center;
            img {
              border-radius: 50%;
            }
            h1 {
              margin: 12px 0 4px 0;
              font-size: 16px;
              font-weight: 600;
              line-height: 150%;
              letter-spacing: 0.024px;
            }
            .Creator-Content-Post {
              margin-top: 8px;
              font-size: 12px;
              color: rgb(100, 100, 100);
            }
            .Creator-Profile-Button {
              margin-top: 12px;
              border: 1px solid rgb(71, 71, 71);
            }
          }
          .chat-messages-container {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            width: 100%;
            padding: 10px 16px 0;
            margin-bottom: 12px;
            .chatroom-message {
              display: flex;
              margin-top: 12px;
              max-width: 50%;
              .chatroom-content-txt {
                word-wrap: break-word;
                padding: 8px;
                font-size: 14px;
                line-height: 1.5;
                color: rgb(255, 255, 255);
                background-color: rgb(35, 35, 35);
                border-radius: 8px;
              }
              .timestamp {
                display: flex;
                flex-direction: column-reverse;
                margin: 0px 8px;
                font-size: 12px;
                color: rgb(100, 100, 100);
                line-height: 20px;
              }
            }
          }
        }
        .Chat-Input {
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
          background-color: rgb(25, 25, 25);
          .Chat-Input-Container {     
            display: flex;
            justify-content: space-between;
            height: 58px;
            padding: 8px 16px;
            background-color: rgb(35, 35, 35);
            .Chat-Input-Emoji {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 40px;
              width: 40px;
              margin-right: 8px;
              padding: 1px 6px;
              border-radius: 50%;
              border: 1px solid rgba(100, 100, 100, 0.5);
            }
          }
            .Chat-Input-Content {
              display: flex;
              justify-content: center;
              width: 100%;
              border-radius: 20px;
              border: 1px solid rgba(100, 100, 100, 0.5);
              background-color: rgba(100, 100, 100, 0.15);
              padding: 0 12px;
              .Chat-Input-Text {
                width: 100%;
                display: flex;
                align-items: center;
                background-color: rgba(100, 100, 100, 0.15);
                img {
                  background-color: rgba(100, 100, 100, 0.15);
                }
                input {
                  width: 100%;
                  margin-left: 12px;
                }
              }
              button { 
                img {
                  background-color: rgba(100, 100, 100, 0.15);
                }
              }
            }
          }
          .Chat-Gift-Container {
            width: 40px;
            height: 40px;
            flex: 0 0 auto;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            border-radius: 50%;
            background: linear-gradient(135deg, rgb(0, 210, 190), rgb(93, 130, 188) 52%, rgb(142, 55, 215));
            outline: none;
            cursor: pointer;
            margin-left: 12px;
            border: none;
            img {
              background: linear-gradient(135deg, rgb(0, 210, 190), rgb(93, 130, 188) 52%, rgb(142, 55, 215));
            }
          }
        }
      }
    }
  }